@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> signInManager;

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <ul class="navbar-nav flex-grow-1 float-start">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Student" asp-controller="Student" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
        </ul>
        <li class="nav-item dropdown float-end">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">@User.Identity!.Name</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" asp-area="" asp-action="Logout" asp-controller="Account">Logout</a></li>
            </ul>
        </li>
    }
    else
    {
       
    }
</ul>